{%extends 'base.html'%}
{%block title%}{{title}}{%endblock title%}
{%block main%}
<div class="container">
    <h1 class="my-font my-2 text-center">Add Your Pet</h1>
  <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Image</label>
      <input
        type="file"
        class="form-control py-1"
        id="exampleFormControlInput1"
        name="file"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Species</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="species"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Breed</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="breed"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Age</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="age"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Pet Price</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        name="price"
      />
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Pet Description</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        name="desc"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success btn-md">Add</button>
  </form>
</div>
{%endblock main%}
