{%extends 'admin/admin_base.html'%}
{%block title%}{{title}}{%endblock title%}
{%block main%}
<div class="adopt-container">
  <h1 class="text-center">History</h1>
  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Count</th>
        <th scope="col">Pet Name</th>
        <th scope="col">Pet Species</th>
        <th scope="col">Seller</th>
        <th scope="col">Buyer</th>
        <th scope="col">Date</th>
        <th scope="col">Operation Type</th>
        <th scope="col">Modify</th>
      </tr>
    </thead>
    <tbody>
      {%for history in histories%}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{history.pet.name}}</td>
        <td>{{history.pet.species}}</td>
        <td>{{history.seller.name}}</td>
        <td>{{history.buyer.name}}</td>
        <td>{{history.date}}</td>
        <td>{{history.type}}</td>
        <td>
          <a href="{{url_for('admin_bp.delete_history', id=history.id)}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock main%}
