<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{%block title%}{%endblock title%}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand my-font" href="{{url_for('home')}}">Petty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {%if not is_loggedin%}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('user_bp.login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('user_bp.register')}}">Register</a>
            </li>
            {%else%}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('pet_bp.add_pet')}}">Add Pet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('pet_bp.see_pets')}}">Your Pets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('user_bp.request_status')}}">Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('user_bp.pending_request_status')}}">Your Request</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('user_bp.logout')}}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('cart_bp.view_cart')}}">Cart</a>
            </li>
            {%endif%}
            {%if is_admin%}
            <li class="nav-item">
              <a class="nav-link text-dark" href="{{url_for('admin_bp.admin_dashboard')}}">Admin Panel</a>
            </li>
            {%endif%}
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post" action="{{url_for('pet_bp.search_pet')}}">
            <input class="form-control mr-sm-2" type="search" name="search_val" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      {%block main%}
      {%endblock main%}
    
</body>
</html>