{%extends 'base.html' %}
{%block title%}{{title}}{%endblock title%}
{%block main%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Count</th>
      <th scope="col">PetName</th>
      <th scope="col">OwnerName</th>
      <th scope="col">Owner Number</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {%for request in requests %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{request.pet.name}}</td>
      <td>{{request.pet.owner.name}}</td>
      <td>{{request.pet.owner.phone}}</td>
      <td>
        {%if request.is_approved %}
        <div class="btn btn-success btn-sm">Approved</div>
        {%else%}
        <div class="btn btn-warning btn-sm">Pending</div>
        {%endif%}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock main%}
